@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "游ゴシック", "Yu Gothic", "Hiragino Sans", "Meiryo", sans-serif;
}

#root {
  min-height: 100vh;
}
